div.container.index-action {
  div.thumbnail {
    text-align: center;

    // タイトル
    div.row.part-title {
      & > span {
        display: inline-block;
        width: 245px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    // サムネイル
    div.row.part-thumbnail {
      & > img {
        height: 200px;
        max-height: 200px;
      }
    }
  }
}
