@import "twitter-bootstrap-static/bootstrap";
div.container.show-action {

  div.panel {
    div.panel-body {
      text-align: center;
    }

    // タイトル
    div.part-title {
      & > span {
      }
    }

    // 作者, タグのパネル
    div.panel.names {
      // パネルヘッダ
      & > div.panel-heading {
        span.glyphicon {
          // 作者
          &.my-glyphicon-author {
            @extend .glyphicon-pencil;
          }
          // タグ
          &.my-glyphicon-tag {
            @extend .glyphicon-tags;
          }
        }
      }
      // パネルボディ
      & > div.panel-body {
        text-align: left;
        & > div.row {
          margin-left: 5px;
        }
      }
    }
  }
}
